{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">

                        <h1 class="font-weight-bold pt-3 pb-2">{% trans "efrtgyu" %}</h1>
                        <p class="text-center pt-3 pb-5">{% trans "test akapitu" %}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Python" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu." %}
                    </p>
                </div>
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Django" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratmacząc to kwestią zachowania obiektywizmu." %}
                    </p>
                </div>
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Flask" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumą zachowania obiektywizmu." %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Django Rest Framework" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu." %}
                    </p>
                </div>
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "HTML/CSS/SCSS" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratmacząc to kwestią zachowania obiektywizmu." %}
                    </p>
                </div>
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "GitHub" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumą zachowania obiektywizmu." %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Bootstrap" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu." %}
                    </p>
                </div>
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Java Script" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratmacząc to kwestią zachowania obiektywizmu." %}
                    </p>
                </div>
                <div class="col-lg-4 col-xs-12 text-center text-lg-left px-5">
                    <h5 class="header-purple text-uppercase py-3">{% trans "Wagtail" %}</h5>
                    <p class="pb-4">
                        {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumą zachowania obiektywizmu." %}
                    </p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
