{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

    <section>
        <div class="container py-5 py-sm-2 py-lg-5">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center px-5">

                        <h1 class="font-weight-bold pt-3 pb-2">{% translate "Skills and technologies" %}</h1>
                        <p class="text-center pt-3 pb-5 px-5">{% translate "During my education, I worked mainly with the belowing technologies/languages​​/frameworks." %}
                            {% translate "I am open to new knowledge and new technologies, so this list is not closed and will grow with the increase of professional experience" %}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Python" %}</h5>
                    <p class="pb-4">
                        {% translate "Python 3.6+" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Django" %}</h5>
                    <p class="pb-4">
                        {% translate "Django 2.0+" %}<br />

                        {% translate "Most important libraries:" %}<br />
                        {% translate "django-environ" %}<br />
                        {% translate "django-ckeditor" %}<br />
                        {% translate "django-filter" %}<br />
                        {% translate "django-rosetta" %}<br />
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Flask" %}</h5>
                    <p class="pb-4">
                        {% translate "1.1" %}<br />
                        {% translate "Most important libraries:" %}<br />
                        {% translate "flask-sqlalchemy" %}<br />
                        {% translate "flask-admin" %}<br />
                        {% translate "flask-login" %}<br />
                        {% translate "flask-wtf" %}<br />
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Rest Framework" %}</h5>
                    <p class="pb-4">
                        {% translate "API, returning JSON Data, serialization" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Bootstrap" %}</h5>
                    <p class="pb-4">
                        {% translate "Bootstrap 4 SCSS, installed to projects via npm and compiled via node-scss" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Wagtail" %}</h5>
                    <p class="pb-4">
                        {% translate "Content Management System (CMS) using interchangeably with django-admin, mainly for users with no IT skills" %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Scrapy" %}</h5>
                    <p class="pb-4">
                        {% translate "Scraping elements from requested url (using css selectors), displaying them in shell or saving into file" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "PyCharm" %}</h5>
                    <p class="pb-4">
                        {% translate "I use integrated development environment (PyCharm) at work" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "GIT" %}</h5>
                    <p class="pb-4">
                        {% translate "Work according to Git Workflow, commits are assigned to branches, pull request before merging changes" %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Jinja2" %}</h5>
                    <p class="pb-4">
                        {% translate "Templates in applications with use of Jinja engine" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "HTML/CSS/SCSS" %}</h5>
                    <p class="pb-4">
                        {% translate "Responsive Web Design (RWD), projects are designed according to methodology Mobile First" %}
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 text-center text-lg-left px-4 px-sm-2 px-lg-5">
                    <h5 class="header-purple text-uppercase py-3">{% translate "Java Script" %}</h5>
                    <p class="pb-4">
                        {% translate "Dynamic content on pages" %}
                    </p>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
