{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section>
        <div class="container about">
            <div class="row">
                <div class="col p-5">
                    <img src="/media/images/project_image.jpg" />
                </div>

                <div class="col p-5">
                    <h4 class="underline-purple font-weight-bold py-3">01.</h4>
                    <h1 class="font-weight-bold py-3">efrtgyu</h1>
                    <p class="pb-4">W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały
                        zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie
                        postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu.</p>
                    <h6 class="text-uppercase underline-black bold-hover py-1"><a href="#">Link gdzieś</a></h6>
                </div>
            </div>

            <div class="row">
                <div class="col p-5">
                    <h4 class="underline-purple font-weight-bold py-3">02.</h4>
                    <h1 class="font-weight-bold py-3">efrtgyu</h1>
                    <p class="pb-4">W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały
                        zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie
                        postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu.</p>
                    <h6 class="text-uppercase underline-black bold-hover py-1"><a href="#">Link gdzieś</a></h6>
                </div>

                <div class="col p-5">
                    <img src="/media/images/project_image.jpg" />
                </div>
            </div>

            <div class="row">
                <div class="col p-5">
                    <img src="/media/images/project_image.jpg" />
                </div>

                <div class="col p-5">
                    <h4 class="underline-purple font-weight-bold py-3">03.</h4>
                    <h1 class="font-weight-bold py-3">efrtgyu</h1>
                    <p class="pb-4">W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały
                        zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie
                        postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu.</p>
                    <h6 class="text-uppercase underline-black bold-hover py-1"><a href="#">Link gdzieś</a></h6>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
