{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
    <section>
        <div class="container px-5">
            <div class="row pt-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center p-0 p-md-5">
                        <img src="/media/images/home_image.jpg" class="img-fluid"/>

                        <h1 class="font-weight-bold pt-5">{% trans "efrtgyu" %}</h1>
                        <p class="pt-3 pb-2 px-md-5">
                            {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu." %}
                        </p>
                        <div class="py-4">
                            <a href="{% url 'about' %}" class="btn btn-purple-rounded text-uppercase">
                                {% trans "Read more" %}
                            </a>
                        </div>
                    </div>
                    <div class="grey-hr"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row pt-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center p-0 p-md-5">
                        <img src="/media/images/home_image.jpg" class="img-fluid"/>

                        <h1 class="font-weight-bold pt-5">{% trans "efrtgyu" %}</h1>
                        <p class="pt-3 pb-2 px-sm-5">
                            {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu." %}
                        </p>
                        <div class="py-4">
                            <a href="{% url 'projects' %}" class="btn btn-purple-rounded text-uppercase">
                                {% trans "Read more" %}
                            </a>
                        </div>
                    </div>
                    <div class="grey-hr"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container px-5">
            <div class="row pt-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center p-0 p-md-5">
                        <img src="/media/images/home_image.jpg" class="img-fluid"/>

                        <h1 class="font-weight-bold pt-5">{% trans "efrtgyu" %}</h1>
                        <p class="pt-3 pb-2 px-sm-5">
                            {% trans "W związku z tym, że czynności cywilne wykonywane przez prokuratora wojskowego podlegały zwierzchnictwu Prokuratury Okręgowej w Gdańsku, ta zwróciła się z prośbą o przejęcie postępowania przez inną jednostkę tłumacząc to kwestią zachowania obiektywizmu." %}
                        </p>
                        <div class="py-4">
                            <a href="{% url 'contact:contact' %}" class="btn btn-purple-rounded text-uppercase">
                                {% trans "Read more" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}