{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
    <section>
        <div class="container pt-5 px-lg-5">
            <div class="row justify-content-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center px-lg-5">
                        <h3 class="font-weight-bold pt-3 pb-2">{% translate "Contact me" %}</h3>
                        <p class="text-center pt-3 px-lg-5">{% translate "If you interested cooperation with me, please don't hesitate to contact me. You can use contact form below or via my e-mail: ania.doleba[at]wp.pl." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container p-5">
            <div class="row d-flex justify-content-center">
                <div class="contact-form p-5">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <p class="error-message font-weight-bold">{{ message}}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form action="." method="post">

                        {% csrf_token %}
                        <p class="font-weight-bold pt-3 mb-0">{% translate "Name" %}</p>
                            {{ form.name }}
                        <p class="font-weight-bold pt-3 mb-0">{% translate "E-mail" %}</p>
                            {{ form.email }}
                        <p class="font-weight-bold pt-3 mb-0">{% translate "Subject" %}</p>
                            {{ form.subject }}
                        <p class="font-weight-bold pt-3 mb-0">{% translate "Content" %}</p>
                            {{ form.body }}<br />
                        <div class="pt-4">
                            <button type="submit" class="btn btn-purple text-uppercase">{% translate "Send" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}