{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

    <section>
        <div class="container p-5">
            <div class="col p-5">
                <h4 class="text-center p-5">
                    {% trans "Thank you for your message" %}<br />
                    {% trans "I will respond as soon as possible" %}
                </h4>
            </div>

            <div class="col p-5">
                <h6 class="text-center text-uppercase menu bold-hover py-1">
                    <a href="{% url 'index' %}">{% trans "Back to homepage" %}</a>
                </h6>
            </div>
        </div>
    </section>

{% endblock %}