<footer class="footer">
    <div class="container-fluid">
        <ul class="nav justify-content-center pt-4">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:contact' %}">CONTACT</a>
            </li>
        </ul>


    </div>
    <div class="pb-2">
        <div class="grey-hr py-2"></div>
        <p class="text-center font-weight-bold mb-0 pt-4">&copy; 2019</p>
    </div>
</footer>

