{% load i18n %}

<header>
    {% include 'navbar.html' %}

    <section class="introduction d-flex align-items-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h1 class="font-weight-bold">{% trans "Zoom gallery  aa here aaa " %}</h1>

                    <p>{% trans "Short page title tagline goes here aaa aaaaaaaaaa aaaaaaaaaaa" %}</p>

                </div>
            </div>

        </div>
    </section>

</header>
