<nav class="nav menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
