{% load i18n %}

<nav class="nav menu py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">{% trans "HOME" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">{% trans "ABOUT" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">{% trans "PROJECTS" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact:contact' %}">{% trans "CONTACT" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
