@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$enable-responsive-font-sizes: true;
$font-size-base: 1rem;
$background-color: #f9f9f9;
$link-color: #5a5a5a;
$hr-border-color: #ebebeb;
$hover-color: #7570ff;
$font-size: 1em;
$font-color-error: red;
$introduction-background-color: #f3f3f9;
$font-family-base: 'Montserrat', sans-serif;
$font-weight-bold: 1000;
$link-hover-decoration: none;
$input-focus-border-color: #f9f9f9;
$input-focus-box-shadow-border-color: #CCC9FF;
$input-focus-box-shadow:  0 0 0 0.2rem $input-focus-box-shadow-border-color;
$input-border-radius: 0.75rem;
$input-error-color: #FFC4C4;

$navbar-padding-x: 3rem;
$navbar-padding-y: 1rem;
$navbar-nav-link-padding-x: 1rem;
$navbar-brand-font-size: $font-size-base;

$navbar-toggler-border-color: $hover-color;
