@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$background-color: #f9f9f9;
$link-color: #5a5a5a;
$hr-border-color: #ebebeb;
$hover-color: #7570ff;
$font-size: 1em;
$introduction-background-color: #f3f3f9;
$font-family-base: 'Montserrat', sans-serif;
