@import "variables";

.nav-item {
    text-align: right;
}

.footer {
  background-color: $background-color;
  position: relative;
  left: 0;
  width: 100%;
  clear: both;

  a {
    color: $link-color;
    font-weight: bold;
  }
}

.menu {
  a {
    color: $link-color;
  }

  a:hover, #choose-language:hover {
    color: $hover-color;
    font-weight: bold;
  }
}

.introduction {
  background-color: $introduction-background-color;
  min-height: 300px;
}

.underline-purple {
  border-bottom: 3px solid $hover-color;
  width: 33%;
}

.underline-black {
  border-bottom: 3px solid black;
  width: fit-content;
}

.purple_header {
  font-weight: bold;
  color: $hover-color;
  }

.bold-hover {
  a:hover {
    font-weight: bold;
  }
}

.grey-hr {
  border-bottom: 1px solid;
  color: $hr-border-color;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  }

.contact-form {
  background-color: $background-color;
  color: $link-color;
}

.btn-purple {
  letter-spacing: 2px;
  font-weight: bold;
  background: $hover-color;
  border-color: $hover-color;
  color: #fff;
}

.btn-purple:hover {
  background: white;
  color: $hover-color
}

.input-error {
  color: $font-color-error;
  border-color: $input-error-color;
  box-shadow: 0 0 0 0.2rem $input-error-color;
}

.error-message {
  color: $font-color-error;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset, $input-focus-box-shadow;
}

@import "../../node_modules/bootstrap-scss/bootstrap";