@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "../../node_modules/bootstrap-scss/bootstrap";
@import "_variables";


.footer {
  background-color: $background-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1em;

  a {
    color: $a-font-color;
    font-weight: bold;
  }

  hr {
    color: $hr-color;
    width: 75%;
  }
}

.menu {
  a {
    color: $a-font-color;
    font-size: $font-size;
  }

  a:hover {
    color: $hover-color;
    border-bottom: 2px solid $hover-color
  }
}
